.menu1 {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.item1 {
    margin: 5px;
    padding: 5px;
    border: 4px ridge white;
    background-color: silver;
}

.menu2 {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    font-family: 'Nerko One', cursive;
    color: white;
}

.item2 {
    margin: 5px;
    padding: 5px;
    border: 4px groove lavender;
    background-color: pink;
}

.menu3 {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
    font-family: 'Open Sans Condensed', sans-serif;
    border: 3px solid lavender;
    color:hotpink;
}

.item3 {
    margin: 5px;
    padding: 5px;
    border: 4px double lightskyblue;
    background-color: lavender;
}